<div style='text-align: center;'>
  <h1>
    This is your reset password code
  </h1>
  <p>
    If you din't send the request, please ignore.
  </p>

  <p
    style='width: 180px; font-weight: bold; font-size: 3rem; background: #e8e2fa; padding: 1rem; margin: 0 auto; border-radius: 10px;'
  >
    <%= code %>
  </p>
</div>
