<div style="text-align: center;">
  <h1>
    Thank you for signing up
  </h1>
  <p>
    Your verification code is
  </p>

  <p
    style='width: 180px; font-weight: bold; font-size: 3rem; background: #e8e2fa; padding: 1rem; margin: 0 auto; border-radius: 10px;'
  >
    <%%= code %>
  </p>
</div>
